<html>
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Modules {% endblock %}</title>
    {% block stylesheet %}
        <style>
            h1{
            color:red;
                font-weight: bold;}
        </style>
    {% endblock %}
</head>

<body>
<h1> Les Modules de Tek-Up</h1>
{% block body %} {% endblock %}
</body>


</html>